.form input {
  padding: 0.5em;
  margin: 0.875em;
  display: block;
  margin: 0.625em auto;
  border-radius: 0.3125em;
  border: 1px solid #c2c2d6; }
  @media (min-width: 1000px) {
    .form input {
      width: 55%; } }

.form button, .project-request button {
  display: block;
  margin: 0.9375em auto;
  padding: 0.625em;
  width: 25%;
  border-radius: 0.3125em;
  border: 1px solid black;
  width: 12.5em;
  font-size: 1.0625em;
  font-weight: bold;
  font-family: "Contrail One", cursive;
  background-color: white;
  border: 1px solid black;
  transition: .7s ease;
  transition-property: width; }
  .form button:hover, .project-request button:hover {
    width: 13.75em; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.wrapper {
  z-index: 100; }

h1, h2, h3, h4 {
  font-family: "Contrail One", cursive;
  letter-spacing: 3.1px; }

p {
  font-family: 'Lora', serif; }

img {
  width: 100%;
  border-radius: 5px; }

.header {
  background: #2a6592;
  text-align: center;
  padding: 13px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.header h4 {
  color: white;
  align-self: center; }
  @media (min-width: 768px) {
    .header h4 {
      font-size: 1.5625em; } }

.overlay-nav {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: black;
  overflow-y: hidden;
  transition: 1s; }
  .overlay-nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s; }

.nav {
  display: none; }
  @media (min-width: 768px) {
    .nav {
      display: block;
      align-self: center;
      justify-content: start; } }
  .nav li {
    display: inline;
    padding: 13px; }
    .nav li a {
      color: white;
      text-decoration: none;
      font-family: "Contrail One", cursive; }
      @media (min-width: 768px) {
        .nav li a {
          font-size: 1.25em; } }

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.overlay-nav a:hover {
  color: #f1f1f1; }

.about {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 55px 20px;
  background: #2a6592; }
  .about h2 {
    color: white; }
    @media (min-width: 768px) {
      .about h2 {
        font-size: 2.1875em; } }
    @media (min-width: 1100px) {
      .about h2 {
        font-size: 2.5em; } }
  .about p {
    color: white;
    text-align: center;
    line-height: 23px; }
    @media (min-width: 768px) {
      .about p {
        font-size: 1.25em; } }

.work {
  text-align: center;
  padding: 35px 0px;
  border-bottom: 1px solid lightgrey;
  background-color: white; }
  @media (min-width: 768px) {
    .work {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 1100px) {
    .work {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; } }
  .work p {
    text-align: center;
    line-height: 23px; }
  @media (min-width: 768px) {
    .work h2 {
      grid-column: span 2;
      font-size: 1.875em; } }
  @media (min-width: 1100px) {
    .work h2 {
      grid-column: span 3;
      font-size: 2.1875em; } }

.goals {
  text-align: center;
  padding: 35px 0px;
  border-bottom: 1px solid lightgrey;
  background-color: white; }
  .goals p {
    text-align: center;
    line-height: 23px; }
  .goals li {
    padding: 10px;
    text-align: left;
    list-style-type: none; }

.contact {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
  background: #7e9a9a; }
  .contact h2 {
    padding-bottom: 5px;
    color: white; }
    @media (min-width: 768px) {
      .contact h2 {
        font-size: 1.875em; } }
  .contact ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.625em; }
  .contact li {
    display: inline; }

hr {
  width: 65%; }

.img-num img {
  width: 100px;
  border-radius: 100px;
  border: 1px solid lightblue; }
  @media (min-width: 768px) {
    .img-num img {
      width: 7.8125em; } }
.img-num a {
  color: white;
  display: block;
  width: 35%;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 0.625em;
  padding: 0.625em; }
  @media (min-width: 768px) {
    .img-num a {
      font-size: 1.125em; } }

.svg-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-self: end;
  align-self: center; }
  @media (min-width: 768px) {
    .svg-icon {
      display: none; } }

.svg-icon:hover {
  fill: white; }

.svg-icon path {
  fill: white;
  padding: 10px; }

.icon-mail,
.icon-link,
.icon-git {
  fill: white;
  width: 23px;
  padding: 10px; }

.icon-mail:hover,
.icon-link:hover,
.icon-git:hover {
  fill: #F08080;
  transition: .7s; }

.form-overlay {
  display: none;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.93); }

.form-div {
  display: block;
  text-align: center;
  margin: 10% auto 15% auto;
  width: 65%;
  border: 1px solid white;
  border-radius: 0.375em;
  background: white; }
  .form-div p {
    color: black; }

.modal-close {
  color: black;
  display: block;
  margin-left: 65%;
  margin-top: 10%;
  transition: .7s ease-in;
  transition-property: color; }

.close {
  animation-name: close;
  animation-duration: .8s; }

.open {
  animation-name: open;
  animation-duration: .8s; }

@keyframes close {
  from {
    transform: scale(1); }
  to {
    transform: scale(0); } }
@keyframes open {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
.modal-close:hover {
  color: coral; }

@media (min-width: 1000px) {
  .form {
    grid-column: 2; } }
.form h3 {
  color: black;
  text-transform: capitalize; }
.form textarea {
  border-radius: 0.3125em;
  border: 1px solid #c2c2d6; }
  @media (min-width: 1000px) {
    .form textarea {
      width: 56.2%; } }
.form fieldset {
  border: none; }

.project-request {
  background: #db9833;
  padding: 5em;
  text-align: center; }
  .project-request p {
    color: white;
    font-size: 15px;
    margin: 0.625em auto; }

.piece {
  position: relative;
  margin: 23px; }

.overlay-img {
  color: #fff;
  position: absolute;
  background: lightblue;
  border-radius: 5px;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: .5s ease; }

.piece:hover .overlay-img {
  opacity: 1; }

/*# sourceMappingURL=application.css.map */
