//div Goals style

.goals{
  text-align: center;
  padding: 35px 0px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  //grid-column: 2/2;
  p{
    text-align: center;
    line-height: 23px;
  }
  li{
    padding: 10px;
    text-align: left;
    list-style-type: none;
  }
}
