//Base styles and the wrapper.
// body{
//   // background: url('https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fhdqwalls.com%2Fwallpapers%2Fgalaxy-stars-4k.jpg&f=1');
//   // background-repeat: no-repeat;
//   // background-attachment: fixed;
//   // background-position: center;
//   // background-size: cover;
//
// }
.wrapper{
    z-index: 100;
  // display: grid;
  // grid-template-columns:;
}
h1,h2,h3,h4{
  font-family: $contrail;
  letter-spacing: 3.1px;
}
p{
  font-family: 'Lora', serif;
}
  img{
    width: 270px;
    border-radius: 5px;
  }
