//========
//Extends
//========

%input{
  padding: em(8px);
  margin: em(14px);
  display: block;
  margin: em(10px) auto;
  border-radius: em(5px);
  border: 1px solid #c2c2d6;
  @include mq(ipad){
    width: 55%;
  }
}

%button{
  display: block;
  margin:em(15px) auto;
  padding: em(10px);
  width: 25%;
  border-radius: em(5px);
  border: 1px solid black;
  width: em(200px);
  font-size: em(17px);
  font-weight: bold;
  font-family: $contrail;
  background-color: white;
  border: 1px solid black;
  transition:.7s ease;
  transition-property:width;
  &:hover{
    width:em(220px);
    opacity: 1;
  }
}
