//========
//Extends
//========

%button{
  display: block;
  border:none;
  margin:0 auto;
  padding: em(10px);
  width: 25%;
  border-radius: em(5px);
  background: white;
  width: em(200px);
  font-size: em(17px);
  font-weight: bold;
  font-family:$main-font;
  transition:.7s ease;
  transition-property:width;
  &:hover{
    width:em(220px);
  }
}
