//===============
//Variables
//===============

//Base Color Variables
$base     : #2f496e;
$ocean    : #2988bc;
$third    : #f4eade;
$coral    : #ed8c72;
$box-shadow: rgba(0, 0, 0, 0.5);
$comp     : complement($coral);
$base-dark: darken($base, 5%);

$icons: (
  'html': $ocean,
  'css': $coral,
  'sass': pink,
  'js': yellow,
  'react': green,
);

//End of Colors

//Breakpoints
$brk-sm   : 325px;
$brk-md   : 768px;
$brk-ipad : 1000px;
$brk-lg   : 1100px;

//font stack=========/

$main-font :'Source Serif Pro', serif;

//Text Variables=====/

$base-font-size : 16px;
