//about div styles

.about{
  text-align: center;
  padding: 55px 20px;

  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;

  h1{
    color: white;
    @include mq(medium){
      font-size: em(35px);
    }
    @include mq(large){
      font-size: em(45px);
    }
}
  p{
    color: white;
    text-align: center;
    line-height: 23px;
    @include mq(medium){
      font-size: em(20px);
    }
  }

}

.icons{
  svg{
    fill:white;
    width: 30px;
    padding: em(3px);
  }
}

.content{
  grid-column: 2;
}
