//Header Styles
.header{
  background: rgba(0,0,0,0.5);
  text-align: center;
  padding: 8px;
  grid-column: 1/ span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header h4 {
  color: white;
  align-self: center;
  @include mq(medium){
    font-size: em(25px);
  }
}
