//Header Styles
.header{
  background:$base-dark;
  text-align: center;
  padding: 13px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header h4 {
  color: white;
  align-self: center;
  @include mq(medium){
    font-size: em(25px);
  }
}
