//Navigation styles

//navigatin overlay
.overlay-nav {
  height:0;
  width: 100%;
  position: fixed;
  z-index:10;
  top: 0;
  left: 0;
  background-color: black;
  overflow-y: hidden;
  transition: 1s;
    a{
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.5s;
    }
}

.closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.overlay-nav a:hover{
  color: #f1f1f1;
}



//normal navigatin
.nav{
  display: none;
  @include mq(medium){
    display:block;
    align-self: center;
    justify-content: start;
  }
  li{
    display: inline;
    padding: 13px;
    a{
      color: white;
      text-decoration: none;
      font-family: $main-font;
        transition:.5s;
      &:hover{
         color:$coral;
      }
        @include mq(medium){
            font-size: em(20px);
        }
    }
  }
}
