//================
//Piece stylesheet
//================

.piece {
  position: relative;
  margin: 23px;
}

.overlay-img{
  color: #fff;
  position: absolute;
  background: lightblue;
  border-radius: 5px;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100%;
  transition: .5s ease;
}

.piece:hover .overlay-img {
	opacity:1;
}


//Photo Overlay Transitions

// .slide .over,
// .slide img {
//   transition: transform .6s ease-out;
// }
//
// .slide .over{
//   transform: translateX(-100%);
// }
//
// .slide:hover .over{
//   transform: translateX(0);
// }
//
// .slide:hover img {
//   transform: translateX(100%);
// }
