//======================
//Project Request styles
//======================


.project-request{
  background: $ocean;
  padding: em(80px);
  text-align: center;
    p{
      color: white;
      font-size: 15px;
      margin: em(10px) auto;
    }
    button{
      @extend %button;
    }
}
