//======================
//Project Request styles
//======================


.project-request{
  padding-top: em(40px);
  padding-bottom: em(25px);
  text-align: center;
  grid-column: 1 / span 3;
    h1{
      color: white;
    }

    p{
      color: white;
      font-size: 15px;
      margin: em(10px) auto;
    }
    button{
      @extend %button;
      margin-top: 40px;
      a{
        color: black;
        text-decoration: none;
      }
    }
}
