//svg styles and tranisitions
.svg-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-self:end;
  align-self: center;

  @include mq(medium){
    display: none;
  }

}

.html,
.css,
.sass,
.js,
.react{
  fill:white;
  width: 35px;
  transition: .8s;
}

.html:hover{fill:$ocean;}
.css:hover{fill:$base;}
.sass:hover{fill:pink;}
.js:hover{fill:yellow;}
.react:hover{fill:lightblue;}



.svg-icon path:hover{
  fill:$coral;

}

.svg-icon path {
  fill: white;
  padding: 10px;
}


.icon-mail,
.icon-link,
.icon-git{
  fill:white;
  width: 23px;
  padding: 10px;
}

.icon-mail:hover,
.icon-link:hover,
.icon-git:hover{
  fill:$coral;
  transition: .7s;
}
