//svg styles and tranisitions
.svg-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-self:end;
  align-self: center;

  @include mq(medium){
    display: none;
  }

}

.svg-icon path:hover{
  fill:$coral;

}

.svg-icon path {
  fill: white;
  padding: 10px;
}


.icon-mail,
.icon-link,
.icon-git{
  fill:white;
  width: 23px;
  padding: 10px;
}

.icon-mail:hover,
.icon-link:hover,
.icon-git:hover{
  fill:$coral;
  transition: .7s;
}
