//============
// transition
//============




@keyframes spin {
  0%{fill:white;
    transform: rotate(360deg);
  }
  25%{fill:lightgreen;}
  50%{fill:lightgreen;}
  100%{fill:white;}
}


//figure out the for loop for colors and keyframes.
