//div work styles

.work{
  text-align: center;
  padding: 35px 0px;
  border-bottom: 1px solid lightgrey;
  background: white;
  grid-column: 1 / span 3;
  @include mq(medium){
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;

  }
  p{
    text-align: center;
    line-height: 23px;
  }
}
