//div work styles

.work{
  text-align: center;
  padding: 35px 0px;
  border-bottom: 1px solid lightgrey;
  background-color: $third;
  @include mq(medium){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include mq(large){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  p{
    text-align: center;
    line-height: 23px;
  }
  h2{
    @include mq(medium){
      grid-column:span 2 ;
      font-size: em(30px);
    }
    @include mq(large){
      grid-column:span 3 ;
      font-size: em(30px);
    }
}
}
